kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: screeps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: screeps
  template:
    metadata:
      labels:
        app: screeps
    spec:
      containers:
        - name: screeps
          image: tei1988/screeps:2.13.1-alpine
          imagePullPolicy: Always
          ports:
            - containerPort: 21025
              protocol: TCP
            - containerPort: 21026
              protocol: TCP
          env:
            - name: TZ
              value: Asia/Tokyo
            - name: STEAM_KEY
              value: <<YOUR STEAM KEY HERE>>
          volumeMounts:
            - name: data
              mountPath: /screeps
      initContainers:
        - name: chown
          image: alpine
          command: ['chown']
          args: ['-R', '1000:1000', '/screeps']
          volumeMounts:
            - name: data
              mountPath: /screeps
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: screeps-storage
